
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Era Machines</title>
	<link rel="SHORTCUT ICON" href="assets/css/img/favicon.ico" />
	<link rel="icon" href="assets/css/img/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="assets/css/app.css">
	<link rel="stylesheet" href="assets/css/mobile.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <div class="offcanvas-header">
          <div class="logo">
            <a href="index.html"><img style="height: 40px" src="assets/css/img/FullLogo.png"/></a>
          </div>
          <!-- Close button -->
          <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <!-- Menu -->
        <ul class="vertical menu drilldown" data-drilldown>
          <li><a href="index.html">Home</a></li>
          <li><a href="process.html">Process</a></li>
          <li>
				  <a href="#">Equipment</a>
					<ul class="menu vertical nested">
					<li><a href="equipment.html">All Equipments</a></li>
					<li><a href="rotary-moulding-line.html">Rotary Moulding Line</a></li>
					<li><a href="combination-line.html">Combination Line</a></li>
					<li><a href="rotary-cutting-line.html">Rotary Cutting Line</a></li>
					</ul>
			</li>         
		  <li class="is-active"><a href="about.html">About</a></li>
		  <li><a href="#home-career">Career</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>        
        <div class="offcanvas-footer">
          <div class="grid-x align-bottom">
            <div class="small-9 cell">
              <p class="copyright">© 2017 New Era Machine. All Rights Reserved.</p>
            </div>
            <div class="small-3 cell">
              <p class="text-right">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="off-canvas-content" data-off-canvas-content>
      <!-- Your page content lives here -->
      <nav>
        <div class="header-desktop show-for-medium">
          <div class="grid-container">        
            <div class="top-bar" id="responsive-menu">
              <div class="top-bar-left">
                <div class="logo">
                  <a href="index.html"><img style="height: 40px" src="assets/css/img/FullLogo.png"/></a>
                </div>
              </div>
              <div class="top-bar-right">
                <ul class="cp-menu">
			   <li><a href="process.html">Process</a></li>
				 <li class="sub-menu-parent">
				   <a href="#">Equipment <i class="fa fa-caret-down" aria-hidden="true"></i></a>
				   <ul class="sub-menu">
					 <li><a href="equipment.html">All Equipments</a></li>
					<li><a href="rotary-moulding-line.html">Rotary Moulding Line</a></li>
					<li><a href="combination-line.html">Combination Line</a></li>
					<li><a href="rotary-cutting-line.html">Rotary Cutting Line</a></li>
				   </ul>
				 </li>
					  <li class="is-active"><a href="about.html">About</a></li>
					  <li><a href="about.html#home-career">Career</a></li>
					  <li><a href="contact.html">Contact</a></li>
			   </ul>
              </div>
              <!-- <div class="language-select">
                <a href="index.html" class="active">EN</a>
                <a href="#">FR</a>
              </div> -->
            </div>
          </div>
        </div>        <div class="header-mobile show-for-small-only">
          <div class="grid-x">
            <div class="small-4 cell">
              <div class="logo">
                <a href="index.html"><img style="height: 30px;width: auto;position: absolute;margin-top: 4px;" src="assets/css/img/FullLogo.png"/></a>
              </div>
            </div>
            <div class="auto cell">
              <div class="offcanvas-button float-right">
                <button type="button" class="menu-icon float-right" data-toggle="offCanvas"></button>
              </div>
            </div>
          </div>
        </div>      </nav>
      
      <div id="top" class="about-header hide">
        <div class="grid-container">
          <div class="grid-x grid-margin-x align-center-middle animated">
            <div class="medium-12 cell">
              <h1 class="text-center section-title seq-animation">A new era has begun</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="about-video animated">
		<div class="videoWrapper videoWrapper169 js-videoWrapper">
			  <iframe class="videoIframe js-videoIframe" frameborder="0" allowTransparency="true" src="https://www.youtube.com/embed/HcMkgQkHuQM?controls=0&showinfo=0&rel=0&autoplay=1&mute=0"></iframe>
		</div>
	</div>
      <div class="white-container" style="padding-bottom: 0;">
        <div class="about-intro page-section animated">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <h6 class="section-label marked seq-animation-list">About</h6>
                <h3 class="section-title seq-animation-list">Who We are</h3>
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="medium-6 cell seq-animation-list">
                <p>Since 1956 <strong class="hightlight-red">New Era Machines</strong> has maintained the tradition of rising to meet the challenges of international standards, demands and quality parameters. With customers across the globe, <u>NEM is a leading manufacturer of automated production lines for the biscuit industry</u> and is capable of executing turnkey projects for biscuits and cookie production.</p>
                <p>By sharing experiences with our customers, we have accumulated a wealth of know-how by which our offer superior machine design that gives higher production efficiency.</p>
                <p>Our standards have become the yard stick for customer satisfaction. What makes the difference is not just the build quality of our lines but also <u>the most advanced technology delivered at competitive pricing for fully customized products that match and exceed the customers' demands.</u> This allows us to finely balance the capex involved and technology desired. As of today, our machines are running round the clock across <u>North America, Europe, Africa and Far East Asia.</u></p>
              </div>
              <div class="medium-6 cell seq-animation-list">
                <p>New Era Machines does not depend on any third-party for manufacturing requirements. Most advanced specifications and latest technology is the reflection of NEM. In house design, research &amp; development, modern and sophisticated manufacturing facilities that are supported by a skilled team of engineers keeps up with the deadlines. This is backed by an efficient after sales support that allows NEM to transcend its competitors.</p>
                <hr>
                <div class="quotation-area seq-animation-list">
                  <blockquote>Our core goal is to ensure we deliver a good end product and a great customer experience along with being extremely efficient and cost effective, we do so by optimizing and innovating our products, processes and services endlessly.</blockquote>
                  <p class="text-right seq-animation-list">Words by <strong>Ankit Kaushal, Vice President</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="white-container" style="padding-bottom: 0;">
        <div class="about-map animated">
          <div class="grid-container">
            <h4>Over <span class="marked-number">60</span> years of experience <br>with clients all around the globe.</h4>
          </div>
        </div>
      </div>
      
      <div class="white-container" style="padding-bottom: 0;">
        <div class="about-team page-section animated">
          <div class="grid-container">
            <!--<h6 class="section-label marked seq-end-products">Team</h6>-->
            <h3 class="section-title seq-end-products text-center">Core of the company</h3>
            <div class="grid-x grid-margin-x about-team-first-row">
              <div class="medium-4 medium-offset-2 cell seq-end-products">
                <div class="team-card">
                  <img src="" data-src="assets/css/img/SN-Kaushal.jpg" alt="CEO">
                  <div class="team-details">
                    <div class="grid-x grid-margin-x align-middle">
                      <div class="small-8 cell">
                        <h5>S M Kaushal</h5>
                        <p class="no-margin-bottom">Chairman</p>
                      </div>
                      <div class="small-4 cell">
                        <p class="no-margin-bottom text-center social-media">
                         <!--<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="medium-4 cell seq-end-products">
                <div class="team-card">
                  <img src="" data-src="assets/css/img/Sanjeev-Kaushal.jpg" alt="CEO">
                  <div class="team-details">
                    <div class="grid-x grid-margin-x align-middle">
                      <div class="small-8 cell">
                        <h5>Sanjeev Kaushal</h5>
                        <p class="no-margin-bottom">Director</p>
                      </div>
                      <div class="small-4 cell">
                        <p class="no-margin-bottom text-center social-media">
                          <!--<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
			<div class="grid-x grid-margin-x">
			<div class="medium-4 cell seq-end-products">
                <div class="team-card">
                  <img src="" data-src="assets/css/img/Rupen-Kaushal.jpg" alt="CEO">
                  <div class="team-details">
                    <div class="grid-x grid-margin-x align-middle">
                      <div class="small-8 cell">
                        <h5>Rupen Kaushal</h5>
                        <p class="no-margin-bottom">VP Technical</p>
                      </div>
                      <div class="small-4 cell">
                        <p class="no-margin-bottom text-center social-media">
                          <!--<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="medium-4 cell seq-end-products">
                <div class="team-card">
                  <img src="" data-src="assets/css/img/ankit-kaushal.jpg" alt="CEO">
                  <div class="team-details">
                    <div class="grid-x grid-margin-x align-middle">
                      <div class="small-8 cell">
                        <h5>Ankit Kaushal</h5>
                        <p class="no-margin-bottom">VP Sales</p>
                      </div>
                      <div class="small-4 cell">
                        <p class="no-margin-bottom text-center social-media">
                          <!--<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="medium-4 cell seq-end-products">
                <div class="team-card">
                  <img src="" data-src="assets/css/img/Udit-Kaushal.jpg" alt="CEO">
                  <div class="team-details">
                    <div class="grid-x grid-margin-x align-middle">
                      <div class="small-8 cell">
                        <h5>Udit Kaushal</h5>
                        <p class="no-margin-bottom">VP Manufacturing</p>
                      </div>
                      <div class="small-4 cell">
                        <p class="no-margin-bottom text-center social-media">
                          <!--<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="white-container" style="padding-bottom: 0;">
        <div class="home-goals page-section animated">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="medium-5 cell medium-offset-6">
                <div class="goal-card animated">
                  <h6 class="marked section-label seq-home-process">Mission and Vision</h6>
                  <h3 class="section-title seq-home-process">Our Goals</h3>
                  <ul class="seq-home-process">
                    <li>To contribute to the progress of the world and happiness of mankind, through the production of food processing machinery, and add to the incessant researches and creative activities associated with it.</li>
                    <li>To help add in the progress of the world by bringing in the finest technology.</li>
                    <li>To build up an ideal industry ethos and to bring eternal prosperity.</li>
                    <li>To achieve a state of complete automation.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="white-container" style="padding-bottom: 0;">
        <div class="home-policy animated">
          <div class="grid-x">
            <div class="medium-6 cell policy-content">
              <div class="grid-container animated">
                <h6 class="marked section-label seq-home-support">Quality Policy</h6>
                <h3 class="section-title seq-home-support">Quality Comes First</h3>
                <p class="seq-home-support">It is the policy of <strong class="hightlight-red">New Era Machines</strong> Pvt Ltd to provide products and services that meet or exceed the requirements of our customers, contracts, and industry standards. The specifications of our production program must reflect an edge of the latest available technology while ensuring customer requirements.</p>
                <p class="seq-home-process2">This is achieved through commitment to precision, quality, innovation, time to market & customer satisfaction.</p>
                <p class="list-title seq-home-support"><strong>We are committed to:</strong></p>
                <ul class="seq-home-support">
                  <li>Understanding our customer's needs and expectations.</li>
                  <li>Maintaining fully integrated Quality Management Systems.</li>
                  <li>Designing products of the highest quality in the most efficient and cost effective manner.</li>
                  <li>Involving the participation of all employees in the process of continuous improvement.</li>
                  <li>Employing statistical techniques to ensure quality is built into our products and services.</li>
                </ul>
              </div>
            </div>
            <div class="medium-6 cell policy-image animated"></div>
          </div>
        </div>
      </div>
      
      <div id="home-career" class="white-container">
        <div class="home-career animated">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="medium-6 cell medium-offset-3 animated">
                <h6 class="marked section-label">Career</h6>
                <h4 class="section-title">Openings Available</h4>
           <!-- <ul class="accordion"  data-allow-all-closed="true">
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title not-active">Accounts Assistant & Computer Operator Accounts Assistant</a>
                    <div class="accordion-content" data-tab-content >
						<h5>Keyskills:</h5>
						<p>ERP,MS Excel,MS Word,Reconciliation Of Accounts,Data Entry,Record Keeping,Records Handling</p>
						<h5>Summary:</h5>
						<p>data entry and various accounting activities</p>
						<h5>Location</h5>
						<p>Ludhiana</p>
						<h5>Experience</h5>
						<h6>2-5 years</h6>
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title not-active">Personal Assistant Personal Secretary Personal Assistant To Director</a>
                    <div class="accordion-content" data-tab-content>
						<h5>Keyskills:</h5>
						<p>ERP,Data Entry,Typing,Data Analysis,MS Office,Computer Operator</p>
						<h5>Summary:</h5>
						<p>traveling, dictation, compelling data</p>
						<h5>Location</h5>
						<p>Ludhiana</p>
						<h5>Experience</h5>
						<p>2-7 years</p>
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title not-active">Accounts Assistant & Computer Operator Accounts Assistant</a>
                    <div class="accordion-content" data-tab-content>
						<h5>Keyskills:</h5>
						<p>ERP,MS Excel,MS Word,Reconciliation Of Accounts,Data Entry,Record Keeping,Records Handling</p>
						<h5>Summary:</h5>
						<p>data entry and various accounting activities</p>
						<h5>Location</h5>
						<p>Ludhiana</p>
						<h5>Experience</h5>
						<p>2-5 years</p>
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title not-active">Design Engineer Mechanical Design Engineer Draftsman</a>
                    <div class="accordion-content" data-tab-content>
						<h5>Keyskills:</h5>
						<p>Pro-E,Auto CAD,PRO E,Autocad,Inventor,Draftsman,Draughtsman,ITI Draftsmanship</p>
						<h5>Summary:</h5>
						<p><strong>Summary:</strong> SPM Machine Designing, Drafting and 3D modelling</p>
						<h5>Location</h5>
						<p>Ludhiana</p>
						<h5>Experience</h5>
						<p>2-5 years</p>
                    </div>
                  </li>
				  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title not-active">Internal Audit Assistant</a>
                    <div class="accordion-content" data-tab-content>
						<h5>Keyskills:</h5>
						<p>ERP,Stores Inventory,Internal Audit,Reconciliation,General ledger,General accounting,Balance sheet</p>
						<h5>Summary:</h5>
						<p>Working under Internal Auditor as an assistant</p>
						<h5>Location</h5>
						<p>Ludhiana</p>
						<h5>Experience</h5>
						<p>1-4 years</p>
                    </div>
                  </li>
                </ul> -->
				<a href="mailto:hr@nem.co.in" class="button" style="margin-top: 10px; width: 200px;">Apply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="home-cta show-for-medium">
        <div class="grid-container">
          <div class="grid-x grid-margin-x align-middle">
            <div class="medium-8 medium-offset-2 cell">
              <div class="grid-x grid-margin-x">
                <form action="subscribe.php" method="post">
				<div class="subscribe-form">
					<div class="grid-x align-middle">
						<div class="medium-3 cell text-right">
						<label>Subscribe to our news letter</label>
						</div>
						<div class="medium-6 cell">
						  <input id="email" name="email" type="email" placeholder="your email address">
						</div>
						<div class="medium-3 cell">
							<button class="button" type="submit" value="Submit">Subscribe</button>
						</div>
					</div>
					</div>
				</form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mail-float">
		<a href="https://www.youtube.com/channel/UCwEGiP1Jb_mR4R8S2xaXAsA" class="fa">&#xf16a;</a>
		<a href="mailto:ankit@nem.co.in" class="fa">&#xf0e0;</a>
	  </div>
      <div class="show-for-small-only">
        <div class="cta-mobile">
          <div class="grid-x grid-margin-x">
            <div class="small-4 cell">
              <img class="lazy"  src="assets/css/img/logo-footer.png" alt="NEM">
            </div>
            <div class="auto cell">
              <p class="text-right">Majara Road, Sahnewal Distt., <br />Ludhiana - 141120</p>
              <p class="no-margin-bottom text-right">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </p>
            </div>
			<div class="small-12 cell">
				<a href="http://www.biscuitmachinesindia.com/images/broucher/NEM%20Brochure.pdf" class="button button-dark no-margin-bottom float-right" download><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a>
			</div>
          </div>
        </div>
      </div>
    </div>
	<footer class="footer new-footer show-for-medium">
      <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
          <div class="medium-7 cell">
		  <div class="grid-x grid-margin-x footer-links">
			<div class="medium-4 cell">
				<p>Production Lines</p>
				<ul>
				<li><a href="rotary-moulding-line.html">Rotary Moulding Line</a></li>
				<li><a href="rotary-cutting-line.html">Rotary Cutting Line</a></li>
				<li><a href="combination-line.html">Combination Line</a></li>
				</ul>
			</div>
			<div class="medium-4 cell">
				<p>Equipment</p>
				<ul>
				<li><a href="equipment.html#panel1">Mixers</a></li>
				<li><a href="equipment.html#panel2">Feeding</a></li>
				<li><a href="equipment.html#panel3">Forming</a></li>
				<li><a href="equipment.html#panel4">Baking</a></li>
				<li><a href="equipment.html#panel5">Post Baking</a></li>
				<li><a href="equipment.html#panel6">Applicators</a></li>
				</ul>
			</div>
			<div class="medium-4 cell">
				<p>Company</p>
				<ul>
				<li><a href="about.html">About Us</a></li>
				<li><a href="about.html#home-career">Career</a></li>
				<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			</div>
          </div>
          <div class="medium-5 cell">
			<div class="grid-x grid-margin-x footer-address">
                <div class="auto cell">
                  <p>Majara Road, Sahnewal District<br />Ludhiana<br />141120</p>
                </div>
				<div class="medium-2 cell">
                  <img class="lazy"  src="assets/css/img/logo-footer.png" alt="NEM">
                </div>
            </div>
			<div class="grid-x grid-margin-x align-right footer-download-sec">
				<div class="medium-4 cell">
					<p class="no-margin-bottom">Find Us On</p>
					<a href="#" class="fa">&#xf0e1;</a>
					<a href="https://www.youtube.com/channel/UCwEGiP1Jb_mR4R8S2xaXAsA" class="fa">&#xf16a;</a>
				</div>
				<div class="medium-6 cell">
					<a href="brochure.html" class="button button-dark no-margin-bottom float-right"><i class="fa fa-envelope" aria-hidden="true"></i> Request Brochure</a>
				</div>
				<div class="medium-2 cell">
					<p class="no-margin-bottom text-center">
						<a href="#top" id="goTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
					</p>
				</div>
			</div>
            <p class="footer-copyright no-margin-bottom text-right">© 2017 New Era Machines. All Rights Reserved.&nbsp;&nbsp;&nbsp;</span>Design by <a target="_blank" href="http://latice.design/">Latice</a></p>
          </div>
        </div>
      </div>
    </footer>
    <footer class="mobile-footer show-for-small-only">
      <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
          <div class="small-8 cell">
            <p>© 2017 New Era Machines. All Rights Reserved.</p>
            <p class="no-margin-bottom">Designed by <a target="_blank" href="http://latice.design/"><strong>Latice</strong></a></p>
          </div>
          <div class="auto cell">
            <p class="no-margin-bottom text-right">
              <a href="#top" id="goTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="assets/js/app.js"></script>
	<script src="assets/js/smooth-scroll.js"></script>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<script src="assets/js/css3-animate-it.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.3.1/lazyload.min.js"></script>
  </body>
</html>